name: ci

on:
  push:
  pull_request:

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      projects: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            a:
              - 'a/**'
              - 'shared/**'
            b:
              - 'b/**'
              - 'shared/**'
            c:
              - 'c/**'
              - 'shared/**'

  run-a:
    needs: detect-changes
    if: contains(fromJson(needs.detect-changes.outputs.projects), 'a')
    uses: ./.github/workflows/a.yml

  run-b:
    needs: detect-changes
    if: contains(fromJson(needs.detect-changes.outputs.projects), 'b')
    uses: ./.github/workflows/b.yml

  run-c:
    needs: detect-changes
    if: contains(fromJson(needs.detect-changes.outputs.projects), 'c')
    uses: ./.github/workflows/c.yml

  ci-result:
    runs-on: ubuntu-latest
    needs: [detect-changes, run-a, run-b, run-c]
    if: always()
    steps:
      - name: Check results
        run: |
          results="${{ needs.run-a.result }} ${{ needs.run-b.result }} ${{ needs.run-c.result }}"

          if echo "$results" | grep -q "failure"; then
            echo "Some workflows failed!"
            exit 1
          fi

          echo "All workflows passed!"
          exit 0
